body, html{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    flex-grow: 1;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e8f0;
    width: 100%;
    height: 7%;
    box-shadow: 3px 3px 20px black;
}
footer{
    display: flex;
    margin-top: auto;
    justify-content: end;
}
#add{
    background-color: #e2e8f0;
    margin-bottom: 3%;
    margin-right: 3%;
    width: 3%;
    height: 70%;
    border-radius: 50%;
    font-size: 20px;
}
#add:hover{
    background-color: #cbd5e1;
    cursor: pointer;
}
#add:active{
    background-color: #94a3b8;
}
.formContainer{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15%;
}
#bookForm{
    padding: 20px;
    background-color: #e2e8f0;
    width: 100%;
    box-shadow: 0px 0px 15px black;
}
#bookForm input[type='text'],
#bookForm input[type='number']{
    width: 95%;
    padding: 8px;
    margin-bottom: 12px;
}
#submitButton:hover{
    background-color: #cbd5e1;
    border: black 1px solid;
}
#submitButton:active{
    border: none;
    background-color: #94a3b8;
    border: black 1px solid;
}