body, html{
    display: flex;
    flex-direction: column;
    background-color: #64748b;
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    flex-grow: 1;
}
.header{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #1e293b;
    width: 100%;
    height: 7%;
    box-shadow: 3px 3px 20px black;
}
footer{
    display: flex;
    margin-top: auto;
    justify-content: end;
}
#add{
    color: white;
    background-color: #1e293b;
    margin-bottom: 3%;
    margin-right: 3%;
    font-size: 100%;
    border-radius: 50px;
    width: 5%;
    height: 80%;
    text-align: center;
    box-shadow: 3px 3px 20px black
}
#add:hover{
    background-color: #0f172a;
    cursor: pointer;
}
#add:active{
    background-color: #020617;
}
.formContainer{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15%;
}
#bookForm{
    color: white;
    padding: 20px;
    background-color: #1e293b;
    width: 100%;
    box-shadow: 0px 0px 15px black;
}
#bookForm input[type='text'],
#bookForm input[type='number']{
    width: 95%;
    padding: 8px;
    margin-bottom: 12px;
}
#bookForm input[type='checkbox']{
    display: inline-flex;
    margin: 3%;
}
#submitButton{
    display: flex;
    margin-top: 3%;
    flex: 1;
    justify-content: end;
    text-align: center;
    width: 19%;
    height: 20%;
    text-align: center;
    border: black 1px solid;
}
#submitButton:hover{
    background-color: #cbd5e1;
    border: black 1px solid;
}
#submitButton:active{
    border: none;
    background-color: #94a3b8;
    border: black 1px solid;
}
#libraryContainer{
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap
}
.book{
    height: 150px;
    width: 150px;
    color: white;
    background-color: #1e293b;
    margin-top: 3%;
    box-shadow: 0px 0px 15px black;
    padding: 10px;
    overflow: hidden;
}

.book h3,
.book p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.readStatusButton{
    margin-top: 10%;
    border: none;
    background-color: #0f172a;
    color: white;
    font-size: 100%;
}
.removeButton{
    margin-top: 10%;
    border: none;
    background-color: #0f172a;
    color: white;
    font-size: 100%;  
}